:root {
    /*    Primary Colors */
    --primary-blue: hsl(213, 96%, 18%);
    --primary-purple: hsl(243, 100%, 62%);
    --tertiary-blue: hsl(206, 94%, 87%);
    --teriary-blue: hsl(206, 94%, 87%);
    --secondary-red: hsl(354, 84%, 57%);
    --neutral-grey: hsl(231, 11%, 63%);
    --neutral-purple: hsl(229, 24%, 87%);
    --neutral-blue: hsl(218, 100%, 97%);
    --neutral-blue-light: hsl(231, 100%, 99%);
    --white: hsl(0, 100%, 100%);
    --fs-neutal: 1em;
    /*    Neutral Colors*/
    --neutral-grey-500: hsl(231, 11%, 63%)

    --fs-small: 0.8em;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
      font-size: 14px;
}

label {
  display: none;
}

body {
    margin-bottom: 60px;
}

section {
    height: 100vh;
}

h1, p {
    color: var(--primary-blue);
}

.image-container {
    position: relative;
}

.image-container img {
    width: 100%;
    height: auto;
    display: block;
}

.nav-container {
    display: flex;
    flex-direction: column;
    gap: 1.5em;
    position: absolute;
    top: 0;
    left: 0;
    padding: 1rem 1rem;
}

.selected {
    background-color: var(--tertiary-blue);
    color: var(--primary-blue);
}

.not-selected {
    background-color: var(--primary-blue);
    color: var(--white);
}

.rounded-circle {
    width: 3em;
    height: 3em;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}


.nav-text {
    color: var(--white);
    text-transform: uppercase;
}

.nav-text p {
    margin-bottom: 0;
    color: var(--white);
}

.form-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 85%;
}

.rounded-circle {
  width: 3em;
  height: 3em;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}

.nav-text {
  color: var(--white);
  text-transform: uppercase;
}

.nav-text p {
  margin-bottom: 0;
  color: var(--white);
}